.App {
  background-image: url("../public/BackgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.profile-header {
  color: #ffffff;
  font-family: 'monospace';
  font-size: 24px;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.user-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
}

h1, h2, p {
  color: #ffffff;
  font-family: 'monospace';
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 16px;
}

.share-cards{
  width: 83%;
  color: #fff;
  padding: 20px;
  text-align: center;
  padding: 20px;
  background-color: #ffffff25;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-rating {
  width: 82%;
  color: #fff;
  padding: 20px;
  text-align: center;
  padding: 20px;
  background-color: #ffffff25;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-comments {
  width: 84%;
  padding: 15px;
  background-color: #ffffff35;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-bottom: 20px;
}
.divider {
  border: none;
  border-top: 2px solid #fff;
  margin: 10px 0; 
  opacity: 0.5; 
}

.comment {
  margin-bottom: 15px;
}

.comment p {
  color: #fff;
}

.likes {
  font-size: 14px;
  color: gray;
}

.mini-modal {
  width: 80px;
  height: 80px;
  background-color: #ffffff25;
  border-radius: 10px;
  margin-bottom: 10px;
}
.mini-modal-container{
  background-image: url("../public/BackgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.share-icon {
  width: 30px;
  height: 30px;
  background-size: contain;
}

.share {
  text-align: end;
  padding-right: 30px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .profile-container {
    padding: 10px;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

}

@media (max-width: 450px) {
  .profile-container {
    width: 100%;
    padding: 10px;
  }

  .avatar {
    width: 80px;
    height: 80px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}
